<div class="catelog__custom">
    <div class="grid__item">
        <div class="grid">
            {% for block in section.blocks %}
            <div class="grid__item large--one-third medium--one-third">
                {% case block.type %}
                    {% when 'first-section' %}
                    {% include 'snippet_first-section' %}

                    {% when 'second-section' %}
                    {% include 'snippet_second-section' %}

                    {% when 'third-section' %}
                    {% include 'snippet_third-section' %}

                    {% when 'fourth-section' %}
                    {% include 'snippet_fourth-section' %}

                    {% when 'fifth-section' %}
                    {% include 'snippet_fifth-section' %}

                    {% when 'sixth-section' %}
                    {% include 'snippet_sixth-section' %}

                    {% when 'seventh-section' %}
                    {% include 'snippet_seventh-section' %}

                    {% when 'eighth-section' %}
                    {% include 'snippet_eighth-section' %}

                    {% when 'ninth-section' %}
                    {% include 'snippet_ninth-section' %}
                {% endcase %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "blocks": [
    {
        "type": "first-section",
        "name": "Abarth 500",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "second-section",
        "name": "Abarth 595",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "third-section",
        "name": "Abarth 695",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "fourth-section",
        "name": "Abarth 124",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "fifth-section",
        "name": "Fiat 500",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "sixth-section",
        "name": "Alfa Romeo 4C",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "seventh-section",
        "name": "Alfa Romeo Giulia",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "eighth-section",
        "name": "Alfa Romeo Giulietta",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    },
    {
        "type": "ninth-section",
        "name": "Alfa Romeo Mito",
        "settings": [
            {
                "id": "imageOne",
                "type": "image_picker",
                "label": "Image"
            }
        ]
    }
]
}
{% endschema %}
{% stylesheet %}
.catelog__custom {
    display: inline-block;
}
.grid__item {
    text-align: center;
}
{% endstylesheet %}
